html
  head
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.css')
    title
      block title
      
  body
    .container
      block content