extends ../head

block content
  form(action="/request", method="post").form-horizontal
    .form-group
      label(for="conector") Conector:
      select(name="conector").form-control#conector
        each conn in connetors
          option= conn
    .form-group
      label(for="envio") Envio:
      input(name="envio")#envio
    .form-group
      label(for="resposta") Resposta:
      input(name="resposta")#resposta
    button(type="submit").btn.btn-confirm Parser

