form(method="post", ng-submit="buscar()").form-inline
  label.control-label Nome:
    input(ng-model="form.nome").form-control
  p
  label.control-label Email:
    input(ng-model="form.email").form-control
  p
  label.control-label Senha:
    input(type="password", ng-model="form.senha").form-control
  p
  button.btn.btn-primary {{btnBuscar}}
  p
    div
      pre {{mensagem}}

  ul(ng-repeat="user in usuarios")
    li {{user}}
