form(ng-submit="cadastrar()", method="post").form-inline
  label.control-label Nome:
    input(ng-model="form.nome").form-control
  p
  label.control-label Email:
    input(ng-model="form.email").form-control
  p
  label.control-label Senha:
    input(type="password", ng-model="form.senha").form-control
  p
  button.btn.btn-primary {{btnSavar}}
  p
  div
    pre
     | {{mensagem}}
     ul(ng-repeat="vali in validation")
       li {{vali}}
