html(ng-app="CrudUser")
  head
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    base(href="/addOn/crudUser/")
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src='/crudUser/public/js/route.js')
    script(src='/crudUser/public/js/controller.js')

    style.
      html, body{
        width: 100%;
      }
  body
    .container
      table(width="100%").table
        tr
          td(witdh="50%")
          td(witdh="940px")
            table
              tr
                td
                  a(href="./") Home
                td
                  a(href="cadastrar") Cadastrar
                td Alterar
                td
                  a(href="buscar") Buscar
                td
                  a(href="excluir") Excluir
                td Logar
          td(witdh="50%")
        tr
          td
          td
            div(ng-view)
          td
